[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Build outputs
*.apk
*.aab
*.ipa

# Logs
*.log

# Visual Studio cache
.vs/

# Rider cache
.idea/

# VSCode cache
.vscode/

# User-specific files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS-specific
.DS_Store
Thumbs.db

# Plastic SCM
.plastic/
